@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Colors */

  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --Rose50: hsl(20, 50%, 98%);
  --Rose100: hsl(13, 31%, 94%);
  --Rose300: hsl(14, 25%, 72%);
  --Rose400: hsl(7, 20%, 60%);
  --Rose500: hsl(12, 20%, 44%);
  --Rose900: hsl(14, 65%, 9%);

}

body{
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: var(--Rose100);
}

main{
  padding: 1rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-icon-container{
  position: relative;
}

.cart-icon-container span{
  z-index: 10;
  position: absolute;
  bottom: 22px;
  left: 10px;
  font-size: 0.7rem;
  font-weight: 700;
}

.cart-icon{
  font-size: 1.5rem;
  color: var(--Red);
  cursor: pointer;
  z-index: 5;
}

h2{
  font-size: 2rem;
}

.list-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.card-img-container {
  position: relative;
}

.food-card img{
  width: 100%;
  border-radius: 7px;
  /* border: solid 2px var(--Red); */
}



.card-text{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.card-text p{
  color: var(--Rose400);
  font-size: 0.8rem;
  font-weight: 600;
}

.card-text h3{
  font-size: 1rem;
  margin: 0.2rem 0;
  font-weight: 700;
  color: var(--Rose900);
}

.card-text  span{
  color:  var(--Red);
  font-weight: 600;
}

.add-icon{
  font-size: 1.5rem;
  color: var(--Rose500);
  margin-right: 0.5rem;
}

.cart-container{
  background-color: white;
  border-radius: 7px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.cart-container h3{
  color: var(--Red);
}

.cart-empty{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.cart-empty img{
  width: 50%;
}

.cart-empty p{
  color: var(--Rose500);
  font-weight: 600;
}

.card-btn{
  border: 1px solid var(--Rose500);
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Rose900);
  cursor: pointer;
  position: absolute;
  bottom: -2.2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.active-btn{
  border: 1px solid var(--Red);
  background-color: var(--Red);
  padding: 0.65rem 0.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--Rose900);
  position: absolute;
  bottom: -2.2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.cart-full{
  margin: 2rem 0;
}


.item-list p{
  color: var(--Rose900);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.price-container{
  position: relative;
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
  border-bottom: 0.5px solid var(--Rose300);
  margin-bottom: 1rem;
}

.quantity{
  color: var(--Red);
  font-weight: 700;
  
}

.individual-price{
  color: var(--Rose400);
  font-weight: 500;
}

.total-price{
  color: var(--Rose500);
  font-weight: 500;
}

.close-icon{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.total-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Rose900);
}

.total-container p{
  font-weight: 700;
  font-size: 1.5rem;
}

.ticket{
  display: flex;
  align-items: center;
  background-color: var(--Rose100);
  padding: 1rem;
  border-radius: 5px;
  gap: 5px;
  margin-top: 1rem;
}

.ticket p{
  font-size: 0.9rem;
  color: var(--Rose900);
}

.ticket p span{
  font-weight: 700;
}

.confirm-btn{
  background-color: var(--Red);
  color: var(--Rose50);
  border: none;
  padding: 1rem 0;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}